**/*.pyc
/bin
.classpath
.project
**/.project
**/target
**/logs
**/.settings
.pydevproject
**/.DS_Store
**/*.zip
**/*.tar
**/*.tgz
**/*.class
**/bin
**/$*
**/__pycache__/*
*.py[cod]
.venv/
venv/
*.sublime-workspace
private-notes.md
.vscode/
certs/
.env
